# Binaries
/bin/
/build/
/*.exe
/*.exe~
/*.dll
/*.so
/*.dylib

# Go modules
/go.sum

# Vendor folder (если используешь vendoring)
vendor/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp
tmp

# Environment files
.env
